{
  "presets": [
    [
      "@babel/preset-env",
      {
        "shippedProposals": true,
        "useBuiltIns": "entry",
        "corejs": 3
      }
    ],
    [
      "@babel/preset-react",
      {
        "useBuiltIns": true
      }
    ],
    "@babel/preset-typescript"
  ],
  "plugins": [
    "@babel/plugin-syntax-dynamic-import",
    "@babel/plugin-transform-runtime",
    "babel-plugin-macros",
  ]
}