.container {
  display: flex;
  flex-direction: column;
}
.layout {
  min-height: calc(100vh - 55px);
}
.footer {
  height: 55px;
  background-color: #f2f2f2;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 0;
}
.imgLeft {
  position: relative;
  left: 40px;
}
.imgRight {
  position: relative;
  left: -10px;
  top: -7px;
}
